{
  "sourceMaps": false,
  "presets": ['es2015','stage-1']
, "plugins": [
      ["transform-replace-object-assign", "simple-assign"]
    , "transform-dev-warning","transform-decorators-legacy"
    , "add-module-exports"
  ]
}


